<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Trainer</h6>
    </div>
    <div class="card-body">
      <a href="/admin/createTrainer">
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fas fa-plus-circle"></i> Create Trainer
        </button>
      </a>
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">fullname</th>
              <th scope="col">age</th>
              <th scope="col">specialty</th>
              <th scope="col">email</th>
              <th scope="col">Address</th>
              <th scope="col">Created At</th>
              <th scope="col">Updated At</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% trainers.forEach(function(trainer) { %>
            <tr>
              <th scope="row"><%= trainer.id %></th>
              <td><%= trainer.fullname %></td>
              <td><%= trainer.age %></td>
              <td><%= trainer.specialty %></td>
              <td><%= trainer.email %></td>
              <td><%= trainer.address %></td>
              <td><%= trainer.createdAt %></td>
              <td><%= trainer.updatedAt %></td>

              <td>
                <div>
                  <a href="">
                    <button type="button" class="btn btn-primary btn-sm">
                      <i class="fas fa-user-edit"></i> Update
                    </button>
                  </a>
                </div>
                <div>
                  <a href="">
                    <button type="button" class="btn btn-secondary btn-sm">
                      <i class="fas fa-user-minus"></i> Delete
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
