<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Course</h6>
    </div>
    <div class="card-body">
      <a href="/staff/createCourse">
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fas fa-plus-circle"></i> Create Course
        </button>
      </a>
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable2"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Course Category</th>
              <th scope="col">Descriptions</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% courses.forEach(function(course) { %>
            <tr>
              <th scope="row"><%= course.id %></th>
              <td><%= course.name %></td>
              <td><%= course.Category.name %></td>
              <td><%= course.descriptions %></td>
              <td>
                <div>
                  <a href="/staff/updateCourse/<%= course.id %>">
                    <button type="button" class="btn btn-primary btn-sm">
                      <i class="fas fa-user-edit"></i> Update
                    </button>
                  </a>
                </div>
                <div>
                  <a href="/staff/deleteCourse/<%= course.id %>">
                    <button type="button" class="btn btn-secondary btn-sm">
                      <i class="fas fa-user-minus"></i> Delete
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
